DATABASE_URL=sqlite:///./ai_mbse_demo.db

LLM_API_BASE_URL=
LLM_API_KEY=
LLM_MODEL_NAME=
LLM_ENABLE_REAL_API=false

SYSML_API_BASE_URL=http://sysml2.intercax.com:9000
SYSML_API_TOKEN=
SYSML_ENABLE_REAL_API=true
SYSML_PROJECT_ID=
SYSML_PROJECT_NAME=AI-MBSE-Demo

MAGICDRAW_ENABLE_BRIDGE=true
MAGICDRAW_BRIDGE_URL=http://127.0.0.1:7010/api
MAGICDRAW_PROJECT_PATH=
MAGICDRAW_PACKAGE_NAME=AI_MBSE_Demo
MAGICDRAW_EXPORT_DIR=./exports/magicdraw
MAGICDRAW_IMPORT_TIMEOUT_SEC=30

GMAT_ENABLE_REAL=false
GMAT_ROOT_DIR=
GMAT_CONSOLE_PATH=
GMAT_WORK_DIR=./exports/gmat

SIMULINK_ENABLE_REAL=true
SIMULINK_MATLAB_PATH=
SIMULINK_MODEL_PATH=
SIMULINK_WORK_DIR=./exports/simulink
SIMULINK_TIMEOUT_SEC=120
